name: Build and Release
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install fyne-cross
        run: go install github.com/fyne-io/fyne-cross@latest

      - name: Build for Linux and Windows
        run: |
          fyne-cross linux -arch=amd64
          fyne-cross windows -arch=amd64

      - name: Archive artifacts
        run: |
          mkdir -p release
          mv fyne-cross/dist/linux-amd64/* release/
          mv fyne-cross/dist/windows-amd64/* release/

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: release/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
